/* PROJECT COLORS: 
#34c3fa blue 
#f9f1c3 yellow 
#e6639d pink 
#242b32 black-ish 
#fcfaf9 white
#fefdfc lighter white*/

/* General styling */
.App{  
}

body{
  margin: 40px auto;
  min-height: 100px;
  font-family: 'Space Grotesk';
  font-size: 12px;
  background-color: #e6639d;
  max-width: 1000px;
}

main{
  border-radius: 20px;
  background-color: #fcfaf9;
  height: 500px;
  padding: 0 50px;
  border: #242b32 2px solid;
}

button{
  font-family: 'Space Grotesk';
  font-size: 12px;
}

/* Styling nav bar */
nav{
  background-color: #fcfaf9;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 20px;
  border-bottom: #242b32 2px solid;
}

.app-title{
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

.nav-links{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: flex-end;
}

/* Hover animation for nav bar links */
.nav-link, .special-nav-link {
  display: inline-block;
  position: relative;
  color: #34c3fa;
  padding: 0 10px;
  text-decoration: none;
  color: #242b32;
  font-weight: bold;
}

.special-nav-link{
  background-color: #e6639d;
  color: #fcfaf9;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #34c3fa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.special-nav-link:hover {
  background-color: #34c3fa;
}

.star-small{
  height: 20px;
}

/*Home page*/
.home-maindiv{
  display: flex;
}

.home-leftdiv{
  width: 55%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.home-h1{
  font-size: 50px;
  margin: 10px;
}

.home-h2{
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.star{
  width: 45px;
  margin-top: 10px;
}

.pink-button{
  background-color: #fcfaf9;
  width: 300px;
  height: 35px;
  color: #242b32;
  font-weight: bolder;
  border: #242b32 2px solid;
  box-shadow: 10px 10px 0px 0px #34c3fa;
  align-self: center;
}

.pink-button:hover{
  background-color: #e6639d;
  color: #fcfaf9;
}

.home-rightdiv{
  margin-top: 10px;
  border-radius: 20px;
  border: #242b32 2px solid;
  padding: 20px;
  background-color: #fefdfc;
  text-align: center;
  box-shadow: 10px 10px 0px 0px #34c3fa;
}

.illustration{
  width: 300px;
}