/* PROJECT COLORS: 
#34c3fa blue 
#f9f1c3 yellow 
#e6639d pink 
#242b32 black-ish 
#fcfaf9 white
#fefdfc lighter white*/

.App{  
}

body{
  margin: 40px 20px 40px 20px;
  min-height: 100px;
  font-family: 'Space Grotesk';
  font-size: 12px;
  background-color: #e6639d;
}

main{
  border-radius: 20px;
  background-color: #fcfaf9;
  height: 500px;
  padding: 0 50px;
  border: #242b32 2px solid;
}

/* Styling nav bar */
nav{
  background-color: #fcfaf9;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 20px;
  border-bottom: #242b32 2px solid;
  /* border-radius: 20px; */

}
.app-title{
  color: black;
  font-size: 20px;
  font-weight: bolder;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
}

.nav-links{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: flex-end;
}

/* Hover animation for nav bar links */
.nav-link {
 display: inline-block;
 position: relative;
 color: #e6639d;
 padding: 0 10px;
 text-decoration: none;
 color: #242b32;
 font-weight: bold;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #e6639d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Home page*/
.home-maindiv{
  display: flex;
}

.home-leftdiv{
  width: 55%;
}

.home-h1{
  font-size: 50px;
}

.star{
  width: 45px;
}

.home-rightdiv{
  /* width: 30%; */
  border-radius: 20px;
  border: #242b32 2px solid;
  padding: 20px;
  background-color: #fefdfc;
  text-align: center;
  box-shadow: 20px 20px 0px 0px #34c3fa;
}

.illustration{
  width: 300px;
}