/* PROJECT COLORS: 
#34c3fa blue 
#f9f1c3 yellow 
#e6639d pink 
#242b32 black-ish 
#fcfaf9 white
#fefdfc lighter white*/

/* General styling */

body{
  background-color: #e6639d;
}

main{
  margin: 40px auto;
  min-height: 100px;
  font-family: 'Space Grotesk';
  font-size: 12px;
  background-color: #e6639d;
  max-width: 1000px;
  border-radius: 20px;
  background-color: #fcfaf9;
  height: 500px;
  padding: 0 50px;
  border: #242b32 2px solid;
}

button{
  font-family: 'Space Grotesk';
  font-size: 12px;
}

/* Styling nav bar */
.nav{
  background-color: #fcfaf9;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 20px;
  border-bottom: #242b32 2px solid;
}

.app-title{
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}

.app-title-link{
  text-decoration: none;
}

.nav-links{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: flex-end;
}

/* Hover animation for nav bar links */
.nav-link, .special-nav-link {
  display: inline-block;
  position: relative;
  color: #34c3fa;
  padding: 0 10px;
  margin: 0 2px;
  text-decoration: none;
  color: #242b32;
  font-weight: bold;
}

.special-nav-link{
  background-color: #e6639d;
  color: #fcfaf9;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #34c3fa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.special-nav-link:hover {
  background-color: #34c3fa;
}

.star-small{
  height: 20px;
}

/*Home page*/
.home-maindiv{
  display: flex;
}

.home-leftdiv{
  width: 55%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-h1{
  font-size: 50px;
  margin: 10px;
}

.home-h2{
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.star{
  width: 45px;
  margin-top: 10px;
}

.pink-button{
  background-color: #fcfaf9;
  width: 300px;
  height: 35px;
  color: #242b32;
  font-weight: bolder;
  border: #242b32 2px solid;
  box-shadow: 10px 10px 0px 0px #34c3fa;
  align-self: center;
  margin: 10px;
  cursor: pointer;
}

.pink-button:hover{
  background-color: #e6639d;
  color: #fcfaf9;
}

.illustration{
  width: 300px;
}

/* Profile page styling */
.profile-image{
  height: 70px;
  border-radius: 50%;
  border: 2px #242b32 solid;
}

.profile-h1{
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.blue-button, .red-button{
  background-color: #fcfaf9;
  width: 200px;
  height: 35px;
  color: #242b32;
  font-weight: bolder;
  border: #242b32 2px solid;
  box-shadow: 10px 10px 0px 0px #242b32;
  align-self: center;
  margin: 10px;
  cursor: pointer;
}

.red-button:hover{
  background-color:red;
}

.blue-button:hover{
  background-color: #34c3fa;
  color: #fcfaf9;
}

.profile-maindiv{
  display: flex;
}

.profile-leftdiv{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  border-radius: 20px;
  border: #242b32 2px solid;
  padding: 20px;
  background-color: #f9f1c3;
}

.profile-leftdiv-buttonsdiv{
  display: flex;
  flex-direction: column;
}

.profile-rightdiv{
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10%;
  align-items: center;
  
}

.profile-rightdiv-buttonsdiv{
  display: flex;
  flex-direction: row;
}

.profile-email{
  font-weight: bold;
}

/* Login page styling */
.LoginPage,.EditUserPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input{
  background-color: #fcfaf9;
  width: 200px;
  height: 25px;
  color: #242b32;
  font-weight: bolder;
  border: #242b32 2px solid;
  align-self: center;
  margin: 2px;
  margin-bottom: 10px;
}

.login-input:focus{
  border: #e6639d 2px solid;
  outline: none;
}

.login-label{
  font-weight: bold;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-link{
  text-decoration: none;
  font-weight: bold;
  color: #e6639d;
  padding: 0 10px;
}

.read-button{
  background-color: #fcfaf9;
  width: 400px;
  color: #242b32;
  font-weight: bolder;
  border: #242b32 2px solid;
  box-shadow: 10px 10px 0px 0px #e6639d;
  align-self: center;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.read-button:hover{
  background-color: #34c3fa;
  color: #fcfaf9;
}

.login-link:hover{
  text-decoration: none;
  font-weight: bold;
  background-color: #e6639d;
  color: #fcfaf9;
}

/* Display page*/
.small-h3{
  font-weight: bold;
  font-size: 12px;
}

.display-div{
  display: flex;
  flex-direction: row;
}

.display-main-div-1{
  max-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  height: auto; 
  max-height: 380px;
  overflow-y: auto;
  padding-right: 20px;
}

.display-main-div-2{
  display: flex;
  flex-direction: column;
  height: auto; 
  max-height: 380px;
  overflow-y: auto;
  padding: 10px;
}

.display-main-div-1::-webkit-scrollbar,.display-main-div-2::-webkit-scrollbar {
  width: 1em;
}

.display-main-div-1::-webkit-scrollbar-track,.display-main-div-2::-webkit-scrollbar-track {
  border: 1px #242b32 solid;
}
 
.display-main-div-1::-webkit-scrollbar-thumb,.display-main-div-2::-webkit-scrollbar-thumb {
  background-color: #e6639d;
}

.simple-links{
  border: none;
  background-color: #fcfaf9;
  color: #e6639d;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

/* Sad image in display page*/
.sad-image-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sad-url{
  max-width: 250px;
  border-radius: 50%;
  border: 2px #242b32 solid;
}

/* Record */
.record-main-div{
  border: 2px solid #242b32;
  border-radius: 20px;
  padding: 20px;
  max-width: 40%;
  margin-left: 20px;
  background-color: #f9f1c3;
  max-height: 60%;
}

.record-top-div{
  display: flex;
  justify-content: left;
  align-items: left;
  height: 40vh; 
}

.record-middle-div{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 40vh; 
}

.blob-div{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 40vh; 
}

.error-message{
  color: red;
  font-weight: bold;
}

/* Mini Nav Bar */
.mini-nav-links{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

/* Hover animation for nav bar links */
.mini-nav-link {
  display: inline-block;
  position: relative;
  color: #34c3fa;
  padding: 0 10px;
  margin: 0 2px;
  text-decoration: none;
  color: #242b32;
  font-weight: bold;
}

.mini-nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #34c3fa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.mini-nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mini-nav{
  background-color: #fcfaf9;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Add your desired styling for visible and invisible steps */
.completed-step {
  color: #242b32;
  font-weight: bold;
}

.incompleted-step {
  color: gray;
}

.bold{
  font-weight: bolder;
}